<ion-view>
    <ion-content style="padding: 0 10px 0 10px">
        <h4>{{title}}</h4>

        <p style="font-size: 14px">
            {{description}}
        </p>

        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <!-- <img src="cover.jpg">-->
                <i class="icon ion-star"></i>
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
                <p>{{boardId}}</p>
            </a>




        </div>
    </ion-content>
</ion-view>
